.navbar {
    background: var(--primary-color); 
    padding: 1rem;
    display: flex;
    flex-direction:column;
    align-items: center;
}


.texto {
    width: auto;
    display: flex;
    margin: 1rem;
}

.prim {
    text-align: left;
}



.ter{
    text-align: right;
    margin-left: 10px;
}

.prim, .ter{
    z-index: 5;
    font-size: 2rem;
}

@media (max-width: 600px) {
    .texto{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 